/* Generic styling part */

*{
  box-sizing:border-box;
}

body {
  justify-content:center;
}

.main {
  border-radius: 10px;
  height: auto;
  margin: 10px auto;
  padding: 5px;
  background-color: rgb(13, 13, 92);
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  max-width:100%;
  display: flex;              
  justify-content: space-between; 
  align-items: center;         
}

.title-block {
  text-align: center;
  flex: 1; 
}

.mainButton {
  padding:15px;
  margin:15px 15px;
  background-color:  aliceblue;
  border-radius:5px;
  font-size:20px;
  font-weight:20px;
  color: rgb(13, 13, 92);
  font-family: "Times New Roman", Times, serif;
}

.mainButton:hover {
  background-color: rgb(225, 237, 248);
  cursor:pointer;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

/* Step-1 styling part */

.categories {
  display: flex;
  flex-direction: column; 
  width: 100%;            
  margin: 0 auto;         
  padding: 0;             
}

.categoryButton {
  width: 100%;           
  padding: 15px;        
  border: none;          
  border-bottom: 1px solid #333; 
  border-radius: 0;      
  background-color: rgb(240, 238, 238);
  cursor: pointer;
  text-align: center;
  margin: 0;             
}

.categoryButton:last-child {
  border-bottom: none;  
}

.categoryButton:hover {
  background-color: rgb(13, 13, 92);
  color: aliceblue;
}

.categoryButton.selected {
  background-color: rgb(13, 13, 92);
  color: aliceblue;
}

/* Step-2 styling part */

label {
  font-weight: bold;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.upload {
  margin-top:40px;
  margin:10px auto;
  max-width:90%;
  padding-top:40px;
  padding-bottom:40px;
  background-color: aliceblue;
  border-radius:5px;
  justify-content:center;
  text-align:center;
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;
}

#uploadButton{
  padding:10px;
  background-color: rgb(13, 13, 92);
  border:1px solid black;
  border-radius:5px;
  font-size:15px;
  color:aliceblue;
}

#uploadButton:hover {
  background-color:rgb(53, 53, 141);
  cursor:pointer;
}

#customText {
  margin-left:10px;
  font-family: 'Times New Roman', Times, serif;
}

#displayImg {
  display: none;  
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

